    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <meta name="description" content="API Days NZ">

    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://apidays.nz/"/>
    <meta property="og:title" content="API Days NZ"/>
    <meta property="og:image" content="https://hypr.nz/images/logo.png" />
    <meta property="og:site_name" content="APIDaysNZ"/>
    <meta property="og:description" content="API Days conference."/>

    <meta name="twitter:site" content="@APIDaysNZ" />
    <meta name="twitter:creator" content="@APIDaysNZ" />
    <meta name="twitter:domain" content="apidays.nz" />
    <meta name="twitter:title" content="API Days NZ" />
    <meta name="twitter:description" content="API Days Conference." />

    <meta name="viewport" content="width=device-width" />

    <script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@type": "Event",
      "name": "API Days NZ",
      "organizer": {
        "@type": "Organization",
        "name": "Hypr",
        "url": "https://hypr.nz/"
      },
      "startDate": "2016-10-6T09:00",
      "offers": [
        {
          "@type": "Offer",
          "url": "https://apidays2016.lilregie.com",
          "validFrom": "2016-06-01T00:01",
          "validThrough": "2016-08-31T23:59",
          "price": "250.00",
          "priceCurrency": "NZD"
        },{
          "@type": "Offer",
          "url": "https://apidays2016.lilregie.com",
          "validFrom": "2016-09-01T00:01",
          "validThrough": "2016-09-15T23:59",
          "price": "480.00",
          "priceCurrency": "NZD"
        },{
          "@type": "Offer",
          "url": "https://apidays2016.lilregie.com",
          "validFrom": "2016-09-16T00:01",
          "validThrough": "2016-10-06T23:59",
          "price": "590.00",
          "priceCurrency": "NZD"
        }
        ],
      "description": "TThe API Days NZ Conference is organised by HYPR and Sixtree for the benefit of the NZ API community. This includes anyone who is interested in improving the way New Zealand organisations share digital resources using APIs.",
      "location": {
        "@type": "Place",
        "name": "Viaduct Events Centre",
        "url": "http://www.aucklandconventions.co.nz/venues/pages/venue.aspx?venueid=7",
        "address": {
          "@type": "PostalAddress",
          "addressLocality": "Auckland",
          "addressRegion": "New Zealand",
          "postalCode": "1010",
          "streetAddress": "161 Halsey Street"
        },
        "hasMap": "https://www.google.co.nz/maps/place/ANZ+Viaduct+Events+Centre/@-36.8405587,174.7594359,15z/data=!4m5!3m4!1s0x0:0x57e811a094f55a6c!8m2!3d-36.8405587!4d174.7594359"
        }
    }
</script>