<div id="organisers" class="container-fluid content-section">

    <div class="text-center organiser">

        <div class="row">
            <a href="http://sixtree.com.au" target="_blank" class="col-md-12"><img src="/images/sixtree-logo.png" alt="Sixtree Logo"></a>
        </div>

        <div class="row">
            <a href="https://hypr.nz" target="_blank" class="col-md-12"><img class="hypr-img" src="/images/hypr-logo.png" alt="Hypr Logo"></a>
        </div>

        <div class="row">
            <a href="http://oauth.io" target="_blank" class="col-md-12"><img src="/images/oauth-io-logo.jpg" alt="OAuth.io Logo"></a>
        </div>

    </div>

</div>