<div id="sponsors" class="container-fluid content-section">

    <div class="text-center sponsor sponsor-principal">

        <div class="row">
            <a href="" target="_blank" class="col-md-12"><img src="/images/sixtree-logo.png" alt="Sixtree Logo"></a>
        </div>

        <div class="row">
            <a href="" target="_blank" class="col-md-12"><img src="/images/hypr-logo.png" alt="Hypr Logo"></a>
        </div>

        <div class="row">
            <a href="" target="_blank" class="col-md-12"><img src="/images/oauth-io-logo.jpg" alt="Sixtree Logo"></a>
        </div>

    </div>

</div>