<div id="sponsors-gold" class="container-fluid content-section">
    <div class="text-center sponsor sponsor-principal">
        <div class="row">
            <a href="" target="_blank" class="col-md-12"><img src="/images/axway.png" alt="Axway"></a>
        </div>
    </div>
</div>

<div id="sponsors-silver" class="container-fluid content-section">
    <div class="text-center sponsor sponsor-silver">
        <div class="row">
            <span class="col-md-2"></span>
            <a href="" target="_blank" class="col-md-4"><img src="/images/ca.png" alt="Axway"></a>
            <a href="" target="_blank" class="col-md-4"><img src="/images/aws.png" alt="Axway"></a>
            <span class="col-md-2"></span>
        </div>
    </div>
</div>

<div id="sponsors-bronze" class="container-fluid content-section">
    <div class="text-center sponsor sponsor-bronze">
        <div class="row">
            <span class="col-md-2"></span>
            <a href="" target="_blank" class="col-md-4"><img src="/images/nzpost.png" alt="Axway"></a>
            <a href="" target="_blank" class="col-md-4"><img src="/images/braintree-logo.png" alt="Braintree"></a>
            <span class="col-md-2"></span>
        </div>
    </div>
</div>