<div id="sponsors" class="container-fluid content-section">

    <div class="text-center sponsor sponsor-principal">
        <div class="row">
            <a href="" target="_blank" class="col-md-12"><img src="/assets/Sixtree-Logo-Small.png" alt="Sixtree Logo"></a>
            <div class="col-md-8 col-md-offset-2 sponsor-about text-muted"><p><span>Sixtree .....</span></p></div>
        </div>
        <div class="row">
            <a href="" target="_blank" class="col-md-12"><img src="/assets/Sixtree-Logo-Small.png" alt="Hypr Logo"></a>
            <div class="col-md-8 col-md-offset-2 sponsor-about text-muted"><p><span>HYPR .....</span></p></div>
        </div>
        </di
    </div>

</div>