<div id="sponsors-gold" class="container-fluid content-section">
    <div class="text-center sponsor">
        <div class="row">
            <a href="http://www.axway.com/" target="_blank" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><img src="/images/logo_axway.png" alt="Axway"></a>
        </div>
    </div>
</div>

<div id="sponsors-silver" class="container-fluid content-section">
    <div class="text-center sponsor sponsor-silver">
        <div class="row">
            <span class="col-md-3"></span>
            <a href="http://www.mulesoft.com/" target="_blank" class="col-xs-3 col-sm-3 col-md-3 col-lg-3"><img src="/images/logo_mulesoft.png" alt="MuleSoft"></a>
            <a href="http://pushpay.co.nz/" target="_blank" class="col-xs-3 col-sm-3 col-md-3 col-lg-3"><img class="pushpay-logo" src="/images/logo_pushpay.jpeg" alt="Pushpay"></a>
        </div>
    </div>
</div>

<div id="sponsors-bronze" class="container-fluid content-section">
    <div class="text-center sponsor sponsor-bronze">
        <div class="row">
            <span class="col-md-2"></span>
            <a href="https://apigee.com/" target="_blank" class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><img class="apigee-logo" src="/images/logo_apigee.png" alt="Apigee"></a>
            <a href="https://datacom.co.nz/" target="_blank" class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><img class="datacom-logo" src="/images/logo_datacom_sm.jpg" alt="Datacom"></a>
		</div>
        <div class="row">
            <span class="col-md-2"></span>
            <a href="https://nzpost.co.nz/" target="_blank" class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><img class="nzpost-logo" src="/images/nzpost.png" alt="NZ Post"></a>
            <a href="https://orionhealth.com/nz/" target="_blank" class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><img class="orion-logo" src="/images/logo-orion.png" alt="Orion Health"></a>
        </div>
    </div>
</div>

<div id="sponsors-media" class="container-fluid content-section">
    <div class="text-center sponsor sponsor-media">
        <div class="row">
            <a href="http://www.infoq.com/" target="_blank" class="col-xs-6 col-sm-6 col-md-6 col-lg-6"><img class="infoq-logo" src="/images/infoq-logo.png" alt="InfoQ"></a>
            <a href="http://govhack.nz/" target="_blank" class="col-xs-6 col-sm-6 col-md-6 col-lg-6"><img src="/images/logo_govhack.png" alt="GovHack NZ"></a>
        </div>
    </div>
</div>
