<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>

    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="css/main.css"/>

    <title>APIDaysNZ | API Days NZ Conference | APIDaysNZ</title>

</head>

<body class="HomePage" id="page-top" data-spy="scroll" data-target=".sidebar" data-offset="60" data-twttr-rendered="true">

{% assign home = "current  active" %}
{% assign speak = "link " %}
{% assign news = "link " %}
{% include navigation.html %}


<section class="intro">
	<div class="intro-body">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1">

					<h1 class="brand-heading">

						<img src="images/logo.png" alt="API Days NZ">

						<span class="sr-only">API Days NZ</span>
					</h1>

					<div class="banner">
						<h1 class="intro-heading">API Days NZ Conference 2016<br>6th & 7th Oct, Viaduct Events Centre, Auckland</h1>
						<p>APIs. Unification of Digital Business.</p>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>


<section id="keynote-speakers" class="section-1 container-fluid content-section">
    <div class="section-wrapper">

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h4 class="section-number">/01</h4>

                <h2>Keynotes</h2>

                <p>International and local keynote speakers to be announced very soon!</p>

                <div class="row">


                    <!--<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-md-offset-1 col-lg-offset-2">-->
                        <!--<div class="speaker">-->
                            <!--<a href="/2016/04/19/mike-amundsen.html">-->
                                <!--<h4 class="speaker-profile">Mike Amundsen<br><small>Director of API Architecture, CA</small></h4>-->

                                <!--<div class="speaker-image">-->

                                    <!--<img src="/images/mike-amundsen.png" style="max-width: 100%" />-->

                                <!--</div>-->
                            <!--</a>-->

                        <!--</div>-->
                    <!--</div>-->

                </div>

            </div>
        </div>

    </div>
</section>

<section id="code-of-conduct" class="section-2 container-fluid alt-section">
	<div class="section-wrapper">

		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h4 class="section-number">/02</h4>
				<h2>Code of Conduct</h2>


				<div class="page-section-content">
					<p class="p1"><span class="s1">The APIDays NZ team is dedicated to providing a friendly, safe and welcoming conference environment for everyone. We are releasing this code of conduct to clearly outline our expectations...</span></p>
				</div>

				<div class="row">
					<div class="col-md-12 text-center">
						<a href="/2016/04/14/code-of-conduct.html" class="btn btn-primary btn-lg">
							Read in full
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="themes" class="section-3 container-fluid alt-section alt-alt-section">
	<div class="section-wrapper">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h4 class="section-number">/03</h4>
				<h2>Our themes for ‘16</h2>

				<div class="page-section-content">
					<p><span>Strategy Stream: business imperatives and opportunities afforded by APIs</span></p>
					<p><span>Execution Stream: design, architecture, security, quality and new technologies</span></p>
				</div>

			</div>
		</div>
	</div>
</section>

<section id="register-to-speak" class="section-2 container-fluid alt-section">

    <div class="section-wrapper">

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h4 class="section-number">/04</h4>
                <h2>Register to speak</h2>


                <div class="page-section-content">
                    <p class="p1"><span class="s1">Register your interest to speak at the API Days Conference 2015 and we’ll send you further info on themes, streams and submissions later this month.</span></p>
                </div>

                <div class="row">
                    <div class="col-md-12 text-center">
                        <a href="/speak/" class="btn btn-primary btn-lg">
                            Register to speak
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="news" class="container-fluid content-section">
	<div class="row">
		<div class="col-md-5 col-md-offset-2">

			{% assign recent = site.posts.first %}

			<h3>Latest News</h3>
			<article>

				<article class="blogSummary">
					<h2 class="postTitle"><a href="{{ recent.url }}" title="{{ recent.title }}">{{ recent.title }}</a></h2>
					<p class="authorDate"><small class="text-muted">{{ recent.date | date: "%-d %B %Y" }} &ndash; Posted by {{ recent.author }}</small></p>

					<p></p>{{ recent.excerpt }}<p></p>

					<p>
						<a href="{{ recent.url }}" class="readmore" title="Read Full Post">
							Read the full post
						</a>
					</p>
				</article>


			</article>
		</div>
        <div class="col-md-3">
            <div>
                <a class="twitter-timeline" href="https://twitter.com/hashtag/APIDaysNZ" data-widget-id="639356810349023232">#APIDaysNZ Tweets</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
        </div>
	</div>
</section>

<!--<aside class="sidebar affix-top" data-spy="affix" data-offset-top="60" data-offset-bottom="200">-->

	<!--<nav class="secondary">-->
		<!--<ol>-->

			<!--<li class="page-scroll"><a href="/" data-target="#keynote-speakers"><span>/01</span> Keynotes</a></li>-->

			<!--<li class="page-scroll"><a href="/" data-target="#code-of-conduct"><span>/02</span> Code of Conduct</a></li>-->

			<!--<li class="page-scroll"><a href="/" data-target="#themes"><span>/03</span> Themes</a></li>-->

            <!--<li class="page-scroll"><a href="/" data-target="#register-to-speak"><span>/04</span> Speak</a></li>-->

            <!--<li class="page-scroll"><a href="/" data-target="#news"><span>/05</span> Latest news</a></li>-->

		<!--</ol>-->
	<!--</nav>-->

<!--</aside>-->

{% include sponsors.html %}

{% include organisers.html %}

{% include footer.html %}

<script src="//cdn.jsdelivr.net/g/jquery,jquery.easing"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script type="text/javascript" src="/js/app.js"></script>

<iframe id="rufous-sandbox" scrolling="no" frameborder="0" allowtransparency="true" style="display: none;"></iframe></body>
</html>
