<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>

    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="css/main.css"/>

    <title>APIDaysNZ | API Days NZ Conference | APIDaysNZ</title>

</head>
<body class="HomePage" id="page-top" data-spy="scroll" data-target=".sidebar" data-offset="60" data-twttr-rendered="true">

{% assign home = "current  active" %}
{% assign speak = "link " %}
{% assign news = "link " %}
{% include navigation.html %}


<section class="intro">
	<div class="intro-body">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1">

					<h1 class="brand-heading">

						<img src="images/logo.png" alt="API Days NZ">

						<span class="sr-only">API Days NZ</span>
					</h1>

					<div class="banner">
						<h1 class="intro-heading">API Days NZ Conference 2015<br>19th Oct, Viaduct Events Centre, Auckland</h1>
						<p>
							APIs. The Future of Digital Business. For the best prices, book early…</p>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>


<section id="keynote-speakers" class="section-1 container-fluid content-section">
	<div class="section-wrapper">

		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h4 class="section-number">/01</h4>
				<h2>Keynote Speakers</h2>

				<p></p>
				<div class="page-section-content">
					<p><span>Our Keynote speakers will be announced soon!</span></p>
				</div>
			</div>
		</div>



	</div>
</section>

<section id="book" class="section-2 container-fluid alt-section">
	<div class="section-wrapper">

		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h4 class="section-number">/02</h4>
				<h2>Jump to it! Bookings now open!</h2>

				<div class="page-section-content">
					<p class="p1">It pays to book early so be quick to get the&nbsp;<strong>best prices</strong>.&nbsp;Bookings of 5+ tickets receive a 10% discount</p>
				</div>
			</div>
		</div>


		<!-- Include Map -->
		<div class="row">
			<div class="col-md-8 col-md-push-2">
				<div class="row bookings-price-list">


					<div class="col-md-4 text-center price-group price-group-1 price-group-open">
						<div class="price-group-wrap">
							<h3>First 50 tickets <br><small>SOLD OUT &nbsp;</small></h3>
							<p>
								<span class="price">$250</span><br>
								<small>(+GST)</small>
							</p>
						</div>
					</div>

					<div class="col-md-4 text-center price-group price-group-2">
						<div class="price-group-wrap">
							<h3>Early Bird <br><small>before 1st Sept &nbsp;</small></h3>
							<p>
								<span class="price">$300</span><br>
								<small>(+GST)</small>
							</p>
						</div>
					</div>

					<div class="col-md-4 text-center price-group price-group-3">
						<div class="price-group-wrap">
							<h3>All other tickets <br><small> &nbsp;</small></h3>
							<p>
								<span class="price">$350</span><br>
								<small>(+GST)</small>
							</p>
						</div>
					</div>


					<div class="col-md-4 text-center">
						<p class="text-center">
							<a class="btn btn-primary btn-lg btn-inverse" href="https://apidaysnz.lilregie.com/" target="_blank">Book Now</a>
						</p>
					</div>

					<div class="col-md-4 text-center"></div>

					<div class="col-md-4 text-center"></div>
				</div>
			</div>
		</div>

	</div>
</section>

<section id="register-to-speak" class="section-3 container-fluid content-section">
	<div class="section-wrapper">

		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h4 class="section-number">/03</h4>
				<h2>Register to speak</h2>


				<div class="page-section-content">
					<p class="p1"><span class="s1">Register your interest to speak at the API Days Conference 2015 and we’ll send you further info on themes, streams and submissions later this month.</span></p>
				</div>

				<div class="row">
					<div class="col-md-12 text-center">
						<a href="/speak/" class="btn btn-primary btn-lg">
							Register to speak
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="themes" class="section-4 container-fluid alt-section alt-alt-section">
	<div class="section-wrapper">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h4 class="section-number">/04</h4>
				<h2>Our themes for ‘15</h2>

				<div class="page-section-content">
					<p><span>Strategy Stream: business imperatives and opportunities afforded by APIs</span></p>
					<p><span>Execution Stream: design, architecture, security, quality and new technologies</span></p>
				</div>

			</div>
		</div>
	</div>
</section>


<section id="news" class="container-fluid content-section">
	<div class="row">
		<div class="col-md-5 col-md-offset-2">

			{% assign recent = site.posts.first %}

			<h3>Latest News</h3>
			<article>

				<article class="blogSummary">
					<h2 class="postTitle"><a href="{{ recent.url }}" title="{{ recent.title }}">{{ recent.title }}</a></h2>
					<p class="authorDate"><small class="text-muted">{{ recent.date | date: "%-d %B %Y" }} &ndash; Posted by {{ recent.author }}</small></p>

					<p></p>{{ recent.excerpt }}<p></p>

					<p>
						<a href="{{ recent.url }}" class="readmore" title="Read Full Post">
							Read the full post
						</a>
					</p>
				</article>


			</article>
		</div>
        <div class="col-md-3">
            <div class="twitter-timeline">
                <a class="twitter-timeline" href="https://twitter.com/hashtag/apidays" data-widget-id="591552006692610049">#apidays Tweets</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>            </div>
        </div>
	</div>
</section>
<aside class="sidebar affix-top" data-spy="affix" data-offset-top="60" data-offset-bottom="200">

	<nav class="secondary">
		<ol>

			<li class="page-scroll"><a href="/" data-target="#keynote-speakers"><span>/01</span> Keynotes</a></li>

			<li class="page-scroll"><a href="/" data-target="#book"><span>/02</span> Book</a></li>

			<li class="page-scroll"><a href="/" data-target="#register-to-speak"><span>/03</span> Register to speak</a></li>

			<li class="page-scroll"><a href="/" data-target="#themes"><span>/04</span> Themes</a></li>

			<li class="page-scroll"><a href="/" data-target="#news"><span>/05</span> Latest news</a></li>

		</ol>
	</nav>

</aside>


{% include organisers.html %}

{% include footer.html %}

<script src="//cdn.jsdelivr.net/g/jquery,jquery.easing"></script>


<script src="js/affix.js"></script>
<script src="js/alert.js"></script>
<script src="js/button.js"></script>
<script src="js/carousel.js"></script>
<script src="js/collapse.js"></script>
<script src="js/dropdown.js"></script>
<script src="js/tab.js"></script>
<script src="js/transition.js"></script>
<script src="js/scrollspy.js"></script>
<script src="js/modal.js"></script>
<script src="js/tooltip.js"></script>
<script src="js/popover.js"></script>
<script type="text/javascript" src="js/app.js"></script>

<iframe id="rufous-sandbox" scrolling="no" frameborder="0" allowtransparency="true" style="display: none;"></iframe></body>
</html>
