<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>

    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="css/main.css"/>

    <title>APIDaysNZ | API Days NZ Conference | APIDaysNZ</title>

</head>

<body class="HomePage" id="page-top" data-spy="scroll" data-target=".sidebar" data-offset="60" data-twttr-rendered="true">

{% assign home = "current  active" %}
{% assign news = "link " %}
{% include navigation.html %}


<section class="intro">
	<div class="intro-body">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1">

					<h1 class="brand-heading">

						<img src="images/logo.png" alt="API Days NZ">

						<span class="sr-only">API Days NZ</span>
					</h1>

					<div class="banner">
						<h1 class="intro-heading">API Days NZ Conference 2016<br>6th & 7th Oct, Viaduct Events Centre, Auckland</h1>
						<p>APIs. Unifying Digital Business.</p>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>


<section id="keynote-speakers" class="section-1 container-fluid content-section">
    <div class="section-wrapper">

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h4 class="section-number">/01</h4>

                <h2>Keynotes</h2>

                <div class="row">

                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4 col-md-offset-1 col-lg-offset-2">
                        <div class="speaker">
                            <a href="/2016/07/15/lillian-grace.html">
                                <h4 class="speaker-profile">Lillian Grace<br><small>Founder &amp; CEO, figure.nz</small></h4>
                                <div class="speaker-image">
                                    <img src="/images/lillian-grace.jpg" style="max-width: 100%" />
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                        <div class="speaker">
                            <a href="/2016/07/15/glenn-block.html">
                                <h4 class="speaker-profile">Glenn Block<br><small>Principal Product Manager, Splunk</small></h4>
                                <div class="speaker-image">
                                    <img src="/images/glenn-block.png" style="max-width: 100%" />
                                </div>
                            </a>
                        </div>
                    </div>


                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4 col-md-offset-1 col-lg-offset-2">
                        <div class="speaker">
                            <a href="/2016/07/15/markus-lanthaler.html">
                                <h4 class="speaker-profile">Markus Lanthaler<br><small>Creator of JSON-LD and Hydra, Google</small></h4>
                                <div class="speaker-image">
                                    <img src="/images/markus-lanthaler.jpg" style="max-width: 100%" />
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                        <div class="speaker">
                            <a href="/2016/09/26/dennis-ashby.html">
                                <h4 class="speaker-profile">Dennis Ashby<br><small>Head of Client Services, Strongloop an IBM Company</small></h4>
                                <div class="speaker-image">
                                    <img src="/images/DennisAshby.jpg" style="max-width: 100%" />
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <h2>Speakers</h2>

                <div class="row">

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="speaker">
                            <a href="/2016/09/12/kirsten-hunter.html">
                                <h4 class="speaker-profile">Kirsten Hunter<br><small>API Evangelist, Akamai</small></h4>
                                <div class="speaker-image">
                                    <img src="/images/KirstenHunter.jpg" style="max-width: 100%" />
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="speaker">
                            <a href="/2016/09/12/simon-raikallen.html">
                                <h4 class="speaker-profile">Simon Raik-Allen<br><small>CTO, MYOB</small></h4>
                                <div class="speaker-image">
                                    <img src="/images/SimonRaikAllen.jpg" style="max-width: 100%" />
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="speaker">
                            <a href="/2016/07/15/adam-moriarty.html">
                                <h4 class="speaker-profile">Adam Moriarty<br><small>Digital, War Museum</small></h4>
                                <div class="speaker-image">
                                    <img src="/images/adam-moriarty.png" style="max-width: 100%" />
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="speaker">
                            <a href="/2016/07/15/barak-chamo.html">
                                <h4 class="speaker-profile">Barak Chamo<br><small>Lead Engineer, Rokk3r Labs</small></h4>
                                <div class="speaker-image">
                                    <img src="/images/barak-chamo.png" style="max-width: 100%" />
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="speaker">
                            <a href="/2016/07/15/sebastian-daschner.html">
                                <h4 class="speaker-profile">Sebastian Daschner<br><small>Developer, IT-Beratung</small></h4>
                                <div class="speaker-image">
                                    <img src="/images/sebastian-daschner.jpg" style="max-width: 100%" />
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="speaker">
                            <a href="/2016/07/15/martina-iglesias.html">
                                <h4 class="speaker-profile">Martina	Iglesias<br><small>Developer, Spotify</small></h4>
                                <div class="speaker-image">
                                    <img src="/images/martina-iglesias.jpg" style="max-width: 100%" />
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="speaker">
                            <a href="/2016/07/15/thomas-cully.html">
                                <h4 class="speaker-profile">Thomas Cully<br><small>API Talent</small></h4>
                                <div class="speaker-image">
                                    <img src="/images/thomas-cully.jpg" style="max-width: 100%" />
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="speaker">
                            <a href="/2016/07/15/andrew-wilshire.html">
                                <h4 class="speaker-profile">Andrew Wilshire<br><small>Director, PwC</small></h4>
                                <div class="speaker-image">
                                    <img src="/images/andrew-wilshire.jpg" style="max-width: 100%" />
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="speaker">
                            <a href="/2016/08/22/swithin-foote.html">
                                <h4 class="speaker-profile">Swithin Foote<br><small>Architect, Middleware NZ</small></h4>
                                <div class="speaker-image">
                                    <img src="/images/swithin-foote.png" style="max-width: 100%" />
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="speaker">
                            <a href="/2016/08/22/ian-randall.html">
                                <h4 class="speaker-profile">Ian Randall<br><small>Engineer, Pushpay</small></h4>
                                <div class="speaker-image">
                                    <img src="/images/ian-randall.jpg" style="max-width: 100%" />
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="speaker">
                            <a href="/2016/09/12/saul-caganoff.html">
                                <h4 class="speaker-profile">Saul Caganoff<br><small>Principal, Deloitte</small></h4>
                                <div class="speaker-image">
                                    <img src="/images/saul-caganoff.jpeg" style="max-width: 100%" />
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="speaker">
                            <a href="/2016/08/22/abishek-tiwari.html">
                                <h4 class="speaker-profile">Abishek Tiwari<br><small>Manager APAC, Isentia</small></h4>
                                <div class="speaker-image">
                                    <img src="/images/abishek-tiwari.jpeg" style="max-width: 100%" />
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="speaker">
                            <a href="/2016/09/12/steven-cooper.html">
                                <h4 class="speaker-profile">Steven Cooper<br><small>Snr Dev Evangelist, Xero</small></h4>
                                <div class="speaker-image">
                                    <img src="/images/steven-cooper.png" style="max-width: 100%" />
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="speaker">
                            <a href="/2016/09/12/drew-broadley.html">
                                <h4 class="speaker-profile">Drew Broadley<br><small>CTO @ Penny</small></h4>
                                <div class="speaker-image">
                                    <img src="/images/drew-broadley.jpeg" style="max-width: 100%" />
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="speaker">
                            <a href="/2016/09/12/michael-barker.html">
                                <h4 class="speaker-profile">Michael Barker<br><small>Head of Software, LMAX</small></h4>
                                <div class="speaker-image">
                                    <img src="/images/michael_barker.jpeg" style="max-width: 100%" />
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="speaker">
                            <a href="/2016/09/12/aimee-whitcroft.html">
                                <h4 class="speaker-profile">Aimee Whitcroft<br><small>#opendata,#opengov,#civictech</small></h4>
                                <div class="speaker-image">
                                    <img src="/images/aimee-whitcroft.png" style="max-width: 100%" />
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="speaker">
                            <a href="/2016/09/12/col-perks.html">
                                <h4 class="speaker-profile">Col Perks<br><small>Architect, Fauve.io</small></h4>
                                <div class="speaker-image">
                                    <img src="/images/col-perks.jpg" style="max-width: 100%" />
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="speaker">
                            <a href="/2016/09/12/gareth-rick.html">
                                <h4 class="speaker-profile">Gareth Evans<br><small>Coding Architect, Hypr</small></h4>
                                <div class="speaker-image">
                                    <img src="/images/gareth-evans.jpg" style="max-width: 100%" />
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="speaker">
                            <a href="/2016/09/12/gareth-rick.html">
                                <h4 class="speaker-profile">Rick Mugridge<br><small>Coding Architect, Hypr</small></h4>
                                <div class="speaker-image">
                                    <img src="/images/rick-mugridge.jpg" style="max-width: 100%" />
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="speaker">
                            <a href="/2016/09/12/igor-albornett.html">
                                <h4 class="speaker-profile">Igor Albornett<br><small>Enterprise Architect, NZ Post</small></h4>
                                <div class="speaker-image">
                                    <img src="/images/igor-albornett.jpg" style="max-width: 100%" />
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="speaker">
                            <a href="/2016/09/12/niket-mohey.html">
                                <h4 class="speaker-profile">Niket Mohey<br><small>Senior Consultant, MuleSoft</small></h4>
                                <div class="speaker-image">
                                    <img src="/images/niket-mohey.jpg" style="max-width: 100%" />
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="speaker">
                            <a href="/2016/09/12/christiano-james.html">
                                <h4 class="speaker-profile">Christiano Borchardt<br><small>Developer, Auror</small></h4>
                                <div class="speaker-image">
                                    <img src="/images/christiano-borchardt.jpg" style="max-width: 100%" />
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="speaker">
                            <a href="/2016/09/12/christiano-james.html">
                                <h4 class="speaker-profile">James Corbett<br><small>Developer, Auror</small></h4>
                                <div class="speaker-image">
                                    <img src="/images/james-corbett.jpg" style="max-width: 100%" />
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="speaker">
                            <a href="/2016/09/11/justin-giovanni.html">
                                <h4 class="speaker-profile">Justin Wood<br><small>Assoc. Director, Deloitte</small></h4>
                                <div class="speaker-image">
                                    <img src="/images/justin-wood.jpg" style="max-width: 100%" />
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="speaker">
                            <a href="/2016/09/11/justin-giovanni.html">
                                <h4 class="speaker-profile">Giovanni Vigorrelli<br><small>Technical Specialist, IBM</small></h4>
                                <div class="speaker-image">
                                    <img src="/images/giovanni-vigorelli.jpg" style="max-width: 100%" />
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="speaker">
                            <a href="/2016/09/14/axel-grosse.html">
                                <h4 class="speaker-profile">Axel Grosse<br><small>API Management Lead, Axway</small></h4>
                                <div class="speaker-image">
                                    <img src="/images/axel-grosse.jpeg" style="max-width: 100%" />
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="speaker">
                            <a href="/2016/09/11/todd-brackley.html">
                                <h4 class="speaker-profile">Todd Brackley<br><small>Coding Architect, Hypr</small></h4>
                                <div class="speaker-image">
                                    <img src="/images/todd-brackley.jpg" style="max-width: 100%" />
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="speaker">
                            <a href="/2016/09/11/samson-matt.html">
                                <h4 class="speaker-profile">Matt Cobham<br><small>Founder, Vizbot</small></h4>
                                <div class="speaker-image">
                                    <img src="/images/matt-cobham.png" style="max-width: 100%" />
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="speaker">
                            <a href="/2016/09/11/samson-matt.html">
                                <h4 class="speaker-profile">Samson Phommachack<br><small>Founder, Vizbot</small></h4>
                                <div class="speaker-image">
                                    <img src="/images/samson-phommachack.png" style="max-width: 100%" />
                                </div>
                            </a>
                        </div>
                    </div>

                </div>
        </div>

    </div>
</section>

<section id="book" class="section-2 container-fluid alt-section">
    <div class="section-wrapper">

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h4 class="section-number">/02</h4>
                <h2>Jump to it! Bookings now open!</h2>

                <div class="page-section-content">
                    <p class="p1">Bookings of 5+ tickets <strong>receive an extra ticket free</strong>!</p>
                </div>
            </div>
        </div>


        <!-- Include Map -->
        <div class="row">
            <div class="col-md-8 col-md-push-2">
                <div class="row bookings-price-list">

                    <div class="col-md-12 text-center price-group price-group-2 price-group-open">
                        <div class="price-group-wrap">
                            <h3>Remaining tickets <br><small>after 15th Sept &nbsp;</small></h3>
                            <p>
                                <span class="price">$590</span><br>
                                <small>(inc GST)</small>
                            </p>
                        </div>
                    </div>


                    <div class="col-md-12 text-center">
                        <p class="text-center">
                            <a class="btn btn-primary btn-lg btn-inverse" href="https://apidays2016.lilregie.com/" target="_blank">Book Now</a>
                        </p>
                    </div>

                </div>

            </div>
        </div>

    </div>
</section>

<section id="code-of-conduct" class="section-3 container-fluid content-section">
    <div class="section-wrapper">

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h4 class="section-number">/03</h4>
                <h2>Code of Conduct</h2>


                <div class="page-section-content">
                    <p class="p1"><span class="s1">The APIDays NZ team is dedicated to providing a friendly, safe and welcoming conference environment for everyone. We are releasing this code of conduct to clearly outline our expectations...</span></p>
                </div>

                <div class="row">
                    <div class="col-md-12 text-center">
                        <a href="/2016/04/14/code-of-conduct.html" class="btn btn-primary btn-lg">
                            Read in full
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="themes" class="section-4 container-fluid alt-section alt-section">
	<div class="section-wrapper">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h4 class="section-number">/04</h4>
				<h2>Our themes for ‘16</h2>

				<div class="page-section-content">
					<p><span>Strategy Stream: business imperatives and opportunities afforded by APIs</span></p>
					<p><span>Execution Stream: design, architecture, security, quality and new technologies</span></p>
				</div>

			</div>
		</div>
	</div>
</section>

<section id="register-to-speak" class="section-5 container-fluid alt-alt-section">

    <div class="section-wrapper">

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h4 class="section-number">/05</h4>
                <h2>Register to speak</h2>


                <div class="page-section-content">
                    <p class="p1"><span class="s1">Speaker submissions have now closed. Thanks for your interest!</span></p>
                </div>

            </div>
        </div>
    </div>
</section>

<section id="news" class="container-fluid content-section">
	<div class="row">
		<div class="col-md-5 col-md-offset-2">

			{% assign recent = site.posts.first %}

			<h3>Latest News</h3>
			<article>

				<article class="blogSummary">
					<h2 class="postTitle"><a href="{{ recent.url }}" title="{{ recent.title }}">{{ recent.title }}</a></h2>
					<p class="authorDate"><small class="text-muted">{{ recent.date | date: "%-d %B %Y" }} &ndash; Posted by {{ recent.author }}</small></p>

					<p></p>{{ recent.excerpt }}<p></p>

					<p>
						<a href="{{ recent.url }}" class="readmore" title="Read Full Post">
							Read the full post
						</a>
					</p>
				</article>


			</article>
		</div>
        <div class="col-md-3">
            <div>
                <a class="twitter-timeline" href="https://twitter.com/hashtag/APIDaysNZ" data-widget-id="639356810349023232">#APIDaysNZ Tweets</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
        </div>
	</div>
</section>

<!--<aside class="sidebar affix-top" data-spy="affix" data-offset-top="60" data-offset-bottom="200">-->

	<!--<nav class="secondary">-->
		<!--<ol>-->

			<!--<li class="page-scroll"><a href="/" data-target="#keynote-speakers"><span>/01</span> Keynotes</a></li>-->

			<!--<li class="page-scroll"><a href="/" data-target="#code-of-conduct"><span>/02</span> Code of Conduct</a></li>-->

			<!--<li class="page-scroll"><a href="/" data-target="#themes"><span>/03</span> Themes</a></li>-->

            <!--<li class="page-scroll"><a href="/" data-target="#register-to-speak"><span>/04</span> Speak</a></li>-->

            <!--<li class="page-scroll"><a href="/" data-target="#news"><span>/05</span> Latest news</a></li>-->

		<!--</ol>-->
	<!--</nav>-->

<!--</aside>-->

{% include sponsors.html %}

{% include organisers.html %}

{% include footer.html %}

<script src="//cdn.jsdelivr.net/g/jquery,jquery.easing"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script type="text/javascript" src="/js/app.js"></script>

<iframe id="rufous-sandbox" scrolling="no" frameborder="0" allowtransparency="true" style="display: none;"></iframe></body>
</html>
