<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>

    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="/css/main.css"/>

    <title>APIDaysNZ | API Days NZ Conference Programme | APIDaysNZ</title>
    <style>
        h4 {
            color: #3ca2c0 !important;
        }
        th {
            text-align: center;
        }
        .both-streams {
            padding-left: 60px !important;
            background: #6ebdd3 !important;
            text-align: center !important;  
            color: white !important;          
        }
        span.speaker {
            font-weight: bold;
            color: #3ca2c0 !important;
        }
        .both-streams span.speaker {
            color: white !important;
        }
    </style>

</head>

<body class="HomePage" id="page-top" data-spy="scroll" data-target=".sidebar" data-offset="60"
      data-twttr-rendered="true">

{% assign home = "link" %}
{% assign programme = "current active " %}
{% assign news = "link " %}
{% include navigation.html %}

<header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">

                <h2 class="brand-heading">
                    <a href="/"><img src="/images/logo.png" alt="API Days NZ"></a>
                    <span class="sr-only">API Days NZ</span>
                </h2>

            </div>
        </div>
    </div>
</header>

<section id="programme" class="container-fluid content-section">
    <div class="programme-day">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h4 class="section-number">/01</h4>

                <h2>Programme</h2>
                <h4>Thursday 6th October</h4>
                <table class="table table-striped table-bordered cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <th dir="ltr">Day1</th>
                            <th dir="ltr">Technical Track</th>
                            <th dir="ltr">Strategy Track</th>
                        </tr>
                        <tr style='height:20px;'>
                            <td>8:15</td>
                            <td colspan="2" class="both-streams">Registration</td>
                        </tr>
                        <tr style='height:20px;'>
                            <td>9:00</td>
                            <td colspan="2" class="both-streams">Welcome to API Days - <span class="speaker">Saul Caganoff</span></td>
                        </tr>
                        <tr style='height:20px;'>
                            <td>9:15</td>
                            <td colspan="2" class="both-streams">Keynote: <span class="speaker">Lillian Grace</span> - Data as a language</td>
                        </tr>
                        <tr style='height:20px;'>
                            <td>10:00</td>
                            <td colspan="2" class="both-streams">Keynote: <span class="speaker">Glenn Block</span> - Hypermedia Myths and Misconceptions</td>
                        </tr>
                        <tr style='height:20px;'>
                            <td>10:45</td>
                            <td colspan="2" class="both-streams">Coffee Break</td>
                        </tr>
                        <tr style='height:20px;'>
                            <td>11:05</td>
                            <td><span class="speaker">Kirsten Hunter</span> - Irresistible APIs</td>
                            <td><span class="speaker">Simon Raik-Allen</span> - So You Want to Be a CTO</td>
                        </tr>
                        <tr style='height:20px;'>
                            <td>11:45</td>
                            <td><span class="speaker">Barak Chamo</span> - GraphQL for the RESTful crowd</td>
                            <td><span class="speaker">Rajeev Ramani</span> - API Platforms</td>
                        </tr>
                        <tr style='height:20px;'>
                            <td>12:25</td>
                            <td colspan="2" class="both-streams">Lunch</td>
                        </tr>
                        <tr style='height:20px;'>
                            <td>13:10</td>
                            <td>
                                <div><span class="speaker">Sebastian Daschner</span> - Putting Hypermedia Back in REST with JAX-RS and Java EE</div>
                            </td>
                            <td><span class="speaker">Adam Moriarty</span> - Opening the Vault - Open Data from Auckland Museum.</td>
                        </tr>
                        <tr style='height:20px;'>
                            <td>13:50</td>
                            <td>
                                <div><span class="speaker">Steven Cooper</span> - Machine learning your way to smarter API error responses</div>
                            </td>
                            <td><span class="speaker">Swithin Foote</span> - APIculate</td>
                        </tr>
                        <tr style='height:20px;'>
                            <td>14:30</td>
                            <td>
                                <div><span class="speaker">Thomas Cully</span> - Building Fast APIs Using Single Class Microservices: Ticketure by Area360</div>
                            </td>
                            <td><span class="speaker">Anupama Naturajan</span> - Designing Pragmatic RESTful APIs</td>
                        </tr>
                        <tr style='height:20px;'>
                            <td>15:10</td>
                            <td colspan="2" class="both-streams">Afternoon break</td>
                        </tr>
                        <tr style='height:20px;'>
                            <td>15:30</td>
                            <td><span class="speaker">Justin Wood &amp; Giovanni Vigorelli</span> - API Specification Shootout</td>
                            <td><span class="speaker">Drew Broadly</span> - Designing the API&#39;s of a P2P Platform</td>
                        </tr>
                        <tr style='height:20px;'>
                            <td>16:10</td>
                            <td>
                                <div><span class="speaker">Martina Iglesias</span> - Automatic discovery of service metadata for systems at scale</div>
                            </td>
                            <td><span class="speaker">Aimee Whitcroft</span> - Open Data and APIs: fueling innovation</td>
                        </tr>
                        <tr style='height:20px;'>
                            <td>16:50</td>
                            <td><span class="speaker">Abhishek Tiwari</span> - Stored Procedures as a Service</td>
                            <td><span class="speaker">Nisha Clark</span> - </td>
                        </tr>
                        <tr style='height:20px;'>
                            <td>17:30</td>
                            <td colspan="2" class="both-streams">Networking Drinks brought to you by <span class="speaker">Pushpay</span></td>
                        </tr>
                        <tr>
                            <td colspan="3"></td>
                        </tr>
                    </tbody>
                </table>

                <h4>Friday 7th October</h4>
                <table class="table table-striped table-bordered cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <th dir="ltr">
                                <div>Day2</div>
                            </th>
                            <th dir="ltr">Technical Track</th>
                            <th dir="ltr">Strategy Track</th>
                        </tr>                        
                        <tr style='height:20px;'>
                            <td>8:30</td>
                            <td colspan="2" class="both-streams">Set up</td>
                        </tr>
                        <tr style='height:20px;'>
                            <td>9:00</td>
                            <td colspan="2" class="both-streams">Keynote: <span class="speaker">Markus Lanthaler</span> - From Strings to Things to a Web of Services</td>
                        </tr>
                        <tr style='height:20px;'>
                            <td>9:45</td>
                            <td colspan="2" class="both-streams">Keynote: <span class="speaker">Expert Panel</span> - IBM, Westpac, Spark, and Enable discuss APIs.</td>
                        </tr>
                        <tr style='height:20px;'>
                            <td>10:30</td>
                            <td><span class="speaker">Gareth Evans</span> - Hypermedia API Architecture Patterns</td>
                            <td><span class="speaker">Samson Phommachack</span> - How to grow a startup on Government APIs</td>
                        </tr>
                        <tr style='height:20px;'>
                            <td>10:30</td>
                            <td colspan="2" class="both-streams">Coffee Break</td>
                        </tr>
                        <tr style='height:20px;'>
                            <td>10:50</td>
                            <td><span class="speaker">Todd Brackley</span> - More details to follow!</td>
                            <td><span class="speaker">Andrew Wilshire</span> - MegaTrends affecting Financial Services and the Open Banking Agenda</td>
                        </tr>
                        <tr style='height:20px;'>
                            <td>11:30</td>
                            <td><span class="speaker">Ian Randall</span> - More details to follow!</td>
                            <td><span class="speaker">Ian Vanstone</span> - Preparing the organisation for decentralised integration</td>
                        </tr>
                        <tr style='height:20px;'>
                            <td>12:10</td>
                            <td><span class="speaker">Col Perks</span> - API Design Aesthetics</td>
                            <td><span class="speaker">Mark Sim-Smith</span> - Air New Zealand’s API Journey (so far).</td>
                        </tr>
                        <tr style='height:20px;'>
                            <td>12:50</td>
                            <td colspan="2" class="both-streams">Lunch</td>
                        </tr>
                        <tr style='height:20px;'>
                            <td>13:35</td>
                            <td><span class="speaker">Michael Barker</span> - Reactive &amp; Asynchronous - Adventures with APIs in Financial Trading</td>
                            <td><span class="speaker">Axel Grosse</span> - Implementing an API Platform : lessons learned from real life customers</td>
                        </tr>
                        <tr style='height:20px;'>
                            <td>14:15</td>
                            <td><span class="speaker">Christiano Borchardt</span> - Implementing Hypermedia API. A front-end and back-end retrospective.</td>
                            <td><span class="speaker">Saul Caganoff</span> - More details to follow!</td>
                        </tr>
                        <tr style='height:20px;'>
                            <td>14:55</td>
                            <td colspan="2" class="both-streams">Afternoon break</td>
                        </tr>
                        <tr style='height:20px;'>
                            <td>15:20</td>
                            <td><span class="speaker">Glenn Block</span> - More details to follow!</td>
                            <td><span class="speaker">Niket Mohey</span> - The Rise of the Composable Enterprise</td>
                        </tr>
                        <tr style='height:20px;'>
                            <td>16:00</td>
                            <td><span class="speaker"></span>More details to follow!</td>
                            <td><span class="speaker">Igor Albornett</span> - API delivery of APis: On-boarding Developers into our API platform.</td>
                        </tr>
                        <tr style='height:20px;'>
                            <td>16:40</td>
                            <td colspan="2" class="both-streams">Conference Close - <span class="speaker">Saul Caganoff</span></td>
                        </tr>
                        <tr style='height:20px;'>
                            <td>17:00</td>
                            <td colspan="2" class="both-streams">End of Conference</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</section>

{% include organisers.html %}

{% include footer.html %}

<script src="//cdn.jsdelivr.net/g/jquery,jquery.easing"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script type="text/javascript" src="/js/app.js"></script>

</body>
</html>
