<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>

    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="/css/main.css"/>

    <title>APIDaysNZ | API Days NZ Conference | APIDaysNZ</title>

</head>

<body class="HomePage" id="page-top" data-spy="scroll" data-target=".sidebar" data-offset="60" data-twttr-rendered="true">

{% assign home = "current  active" %}
{% assign speak = "link " %}
{% assign news = "link " %}
{% include navigation.html %}

<header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">

                <h2 class="brand-heading">
                    <a href="/"><img src="/images/logo.png" alt="API Days NZ"></a>
                    <span class="sr-only">API Days NZ</span>
                </h2>

                <h1>Programme</h1>
                <p>We are proud to have a fantastic range of international and local speakers covering a diverse range of API related topics. See below for more details...</p>
            </div>
        </div>
    </div>
</header>

<div class="row">
    <div class="col-md-2 col-md-offset-2">
        <h2>Day 1</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-1 col-md-offset-2">9-10am</div>
    <div class="col-md-6 text-center">Adam DuVander - A brief history and future of the API</div>
</div>

<div class="row">
    <div class="col-md-1 col-md-offset-2">9-10am</div>
    <div class="col-md-3 text-center">Nick MacDonald - Internal API</div>
    <div class="col-md-3 text-center">Bill Smith - Geek out with Node.js</div>
</div>

</body>
</html>